* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  min-height: 100vh;
}

@font-face { font-family: W95; src: url("../fonts/W95FA.otf"); } 

body {
  background: #237E7F;
  color: #4c4352;
  font-family: W95, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  line-height: 1;
  text-rendering: optimizeLegibility;
  cursor: default;
}

.page-wrapper {
  container-name: wrapper;
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

.wrapper {
  width: 65vw;
  height: 75vh;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c6c6c6;
  border-top: 2px solid #efefef;
  border-left: 2px solid #efefef;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}

.header {
  height: 26px;
  position: relative;
  text-align: left;
  color: #fff;
  line-height: 1.4;
  border-top: 1px solid silver;
  border-left: 1px solid silver;
  border-right: 2px solid silver;
  border-bottom: 1px solid silver;
  width: 100%;
  background: navy;
  background: linear-gradient(90deg,navy,#1084d0);
  display: flex;
  justify-content: space-between;
  padding: 3px 2px 3px 3px;
}

header h1 {
  letter-spacing: 0;
  margin-right: 24px;
  font-size: 16px;
  font-weight: 900;
}

.content-outer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.content-inner {
  position: relative;
  width: 90%;
  height: 90%;
  margin: auto;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.close-button {
  background: silver url(./img/close-icon.png) no-repeat top 3px left 3px;
  background-size: auto;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  color: transparent;
  min-height: 14px;
  min-width: 16px; 
  padding: 0;
  text-shadow: 0 0 #222;
  font-size: 11px;
  margin-left: 2px;
  display: block;
}

.close-button:active{
  box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
  text-shadow: 1px 1px #222222;
}

@keyframes bang {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.confetti-piece {
  position: absolute;
  display: block;
  width: 3px;
  height: 12px;
  will-change: transform, opacity;
  opacity: 0;
}
